---
const { data } = Astro.props;
---

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .key-type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .keys {
    font-family: 'Roboto Mono Variable', sans-serif;
  }

  .type {
    margin-top: 0 !important;
    color: darkgrey;
  }

  .value {
    margin-top: 0 !important;
    font-size: 12px;
  }
</style>

<div class="container">
  <div class="key-type-container">
  <p class="keys">{data.keys}<span style={{ color:
        data.required === true ? "red" : "transparent"
      }}>*</span></p>
  <p class="type">{data.type}</p>
  </div>
  <p class="value">{data.value}</p>
</div>


